.Lastpage_mainDiv{
    display: grid;
    width: 950px;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    margin: auto;
    margin-top: 48px;
    text-align: left;
}

.Lastpage_mainDiv>div>button{
height: 36px;
width: 130px;
background: rgba(88, 101, 242, 0.1);
border: 1px solid #5865F2;
border-radius: 10px;
color: #5865F2;
}

.Lastpage_FirstDiv{
    display: grid;
}

.Lastpage_mainDiv>div>div>span,.Lastpage_mainDiv>div>span{
    color: darkgray;
    font-size: small;
} 

.Lastpage_mainDiv>div span,.Lastpage_mainDiv>div>h2,.Lastpage_mainDiv>div>p{
    margin-bottom: 5px;
}

.Lastpage_mainDiv{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.Footer{
    display: flex;
    width: 100%;
    gap: 16px;
}


@media screen and (min-width:350px)and (max-width:550px) {
  .Lastpage_mainDiv{
    display: flex;
    flex-direction: column;
  }
    .Lastpage_FirstDiv{
        width: 85%;
        text-align: left;
       display: flex;
       gap: 10px;
       justify-content: space-around;
        margin: 0px;
    }

    
    /* .Lastpage_mainDiv>.Lastpage_FirstDiv+div{
        display: grid;
    } */
    .Footer{
        display: grid;
        width: 80%;
        grid-template-columns: repeat(3,1fr);
      
        
    }
    .Footer>div>div{
  border: 2px solid red;
  display: grid;
    }

}


