*{
    margin: 0px;
}

.page01_FirstDiv{
    width:300px;
height: 19px;
left: 836px;
top: 154px;
font-family: 'Figtree';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
color: gray;
}

.page01_FirstDiv{
    padding-top: 120px;
    margin: auto;
}

.mains>div>h1{
    /* position: absolute; */
    width: 824px;
    height: 134px;
    left: 548px;
    top: 176px;
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 67px;
    text-align: center;
}

.green{
    color: 
    rgba(22, 209, 19, 1);
}

.pages01_ThirdDiv{
width: 470px;
height: 52px;
left: 706px;
top: 327px;
font-family: 'Figtree';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 26px;
text-align: center;
}
.blue{
    color: rgba(7, 123, 255, 1);
}

.pages01_FourthDiv>button{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 5px;
    width: 200px;
    height: 40px;
    left: 849px;
    top: 405px ;
    color: antiquewhite;
    background: #077BFF;
    border: 8px;
    border-radius: 8px;
    margin-bottom: 20px;

}

.pages01_FifthDiv{
    width: 222px;
height: 80px;
left: 849px;
top: 479px;
border-radius: 10px;
background: rgba(0, 182, 122, 0.1);
align-items: center;
margin: auto;
}


.page01_SixthDiv>b{
    display: flex;
    align-items: center;
    text-align: center;
}

.page01_SixthDiv,.pages01_FifthDiv{
    padding-top: 4px;
}

.pages01_SeventhDiv{
    display: flex;
    margin-top: 24px;
   width: 850px;
}

.pages01_SeventhDiv>div{
display: flex;
width: 204px;
height: 72px;
/* left: 364px; */
top: 754px;
background: #EEFEFD;
border: 1px solid #D4EAE8;
border-radius: 5px;
margin: auto;
align-items: center;
}

.pages01_SeventhDiv>div>div:nth-child(1){
    padding-left: 16px;
}

.mains>div,.mains>div>h1,.mains>div>button{
    margin: auto;
   margin-bottom: 10px;
}
.pages01_ThirdDiv>p{
    color: darkgray;
}

.pages01_FifthDiv>div>span,i,.page01_SixthDiv>b>span:nth-child(2){
    color:green
}

.pages01_FifthDiv{
    padding: 10px;
    height: 60px;
    justify-content: center;
}

.page01_SixthDiv{
    padding: 10px;
}

.pages01_FifthDiv{
    width: 240x;
    height: 100%;
}

.pages01_SeventhDiv>div{
    margin-top: 30px;
    margin-bottom: 20px;
}



@media (min-width: 350px)and (max-width:500px){

    *{
        align-items: center;
        justify-content: center;
    }
.mains>.page01_FirstDiv{
margin-left: 200px;
font-size: medium;
}

.mains>.page01_SecondDiv{
    margin-top: 16px;
    width: 60%;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.mains>.page01_SecondDiv h1{
    width: 600px;
height: 100%;
}

.mains>.pages01_ThirdDiv,.mains>.pages01_FourthDiv,.mains>.pages01_FifthDiv{
   margin-bottom: 20px;
   margin-left: 180px;
}

.mains>.pages01_SeventhDiv{
    display: grid;
    /* width: 100%; */
    grid-template-columns: repeat(2,1fr);
    margin: 0px;
    gap: 0px;
    padding: 0px;
    margin-left: -50px;
}

/* .mains>.pages01_SeventhDiv{
    display: flex;
    gap: 0px;
    border: 2px solid red;
} */

.mains{
    align-items: center;
    text-align: center;
    width: 50%;
    margin: auto;
}

.mains>.pages01_FourthDiv,.mains>.page01_FirstDiv,.mains>.page01_SecondDiv,.mains>.pages01_ThirdDiv{
    margin-bottom: 32px;
}

.mains>.pages01_ThirdDiv{
    margin: 0px;
    margin: auto;
    margin-left: 100px;
    margin-bottom: 32px;
}

.mains>.pages01_FifthDiv{
    align-items: center;
    width: 100%;
}

.mains>.pages01_SeventhDiv{
padding: 0px;
display: grid;
grid-template-columns: repeat(2,1fr);
width: 350%;
margin: auto;
}

.mains>.pages01_SeventhDiv>div{
   
    margin: 5px;
    padding: 0px;
}

.pages01_FifthDiv div{
    font-size: medium;
    padding: 0px;
    margin: 0px;
    width: 120%;
}
.pages01_FifthDiv{
 padding-right: 30px ;
}


}
