*{
    margin:0;
    padding:0;
    text-decoration: none;
    font-family: 'Figtree';
}

.main{
   display: flex;
   width: 950px;
   align-items: center;
   justify-content: space-between;
   margin: auto;
}
.mainFirstDiv{
    /* position: absolute; */
    width: 180px;
    height: 31px;
    left: 408px;
    top: 14px;
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    color: #111822;

}


.uttam{
background-color: white;
margin: auto;
position: fixed;text-align: center;}
.mainSecondDiv{
    display: flex;
    gap:16px;
}
.mainSecondDiv>p,.mainFourthDiv>p{
font-family: Figtree;
font-style: Regular;
font-size: 16px;
line-height: 100%;
align: Left;
}

.mainFourthDiv{
    display: flex;
    gap: 10px;
    align-items: center;
}
.mainFourthDiv>button{
  text-decoration: none;
  border: 0cm;
  width: 48px;
height: 19px;
font-family: 'Figtree';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
}

.mainFourthDiv>button:nth-child(3){
background: #077BFF;
border-radius: 5px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;
width: 127px;
height: 39px;
left: 1420px;
top: 10px;
}

.mainFourthDiv{
    color:rgba(88, 101, 242, 1);
    font-family: 'Figtree';
}
.mainFourthDiv>button{
    background-color: white;
}

.mainFourthDiv>p{
    margin-left: 20px;
}
.mainFourthDiv>button+button{
    color: white;
}

.main{
    margin: auto;
}
.mainSecondDiv>div{
    display: flex;
    align-items: center;
}
.mainSecondDiv{
    align-items: center;
}

.uttam{
   padding-top: 10px;
    width: 100%;
}

.sidebar{
    display: none;
}


@media screen and (min-width:350px) and (max-width:550px) {
    .mainSecondDiv,.mainFourthDiv>p{
        display: none;
    }

    .mainFourthDiv{
       width: 80%;
    }
    .mainFourthDiv>button{
        color: white;
    }
    .main{
        margin-top: 26px;
        margin-left: 40px;
    }

    .mainFirstDiv{
      font-size: xxx-large;
    }
    .sidebar{
        display: contents;
        height: 100px;
        color: black;
        border: 2px solid red;
    }

    .sidebar>div{
        margin-top: 30px;
        align-items: center;
        margin: auto;
        height: auto;
        font-size: large;
    }


    .mainFirstDiv{
        width: 60%;
        margin: auto;
    }

.uttam>.mains div{
    margin: 0px;
    padding: 0px;
}



}